section.about
	.container.about__container(data-aos='fade-up', data-aos-duration='500', data-aos-easing='ease-in')
		+card('#', 'about__card about__card--narrow', 'Развитие <br> бренда', 'url("./images/card/1.png")', '#000001')
		+card('#', 'about__card', 'Технологии', 'url("./images/card/2.png")', '#000001')
		+card('#', 'about__card', 'Карьера', 'url("./images/card/3.png")', '#000001')