section.advantages(data-aos='fade-up', data-aos-duration='500', data-aos-easing='ease-in')
	.container.advantages__container
		.advantages__item
			+icon('engine')(width='120', height='120')
			span Новый уровень защиты двигателя
		.advantages__item
			+icon('stars')(width='120', height='120')
			span Высокое качество
		.advantages__item
			+icon('diamond')(width='120', height='120')
			span Максимальная выгода