section.catalog
	.container
		.catalog__item
			.catalog__image(data-aos='fade-left', data-aos-duration='600', data-aos-easing='ease-in')
				img.image-1(src='images/catalog/1.png', srcset='images/catalog/1@2x.png 2x', alt='')
			.catalog__content(data-aos='fade-right', data-aos-duration='600', data-aos-easing='ease-in', data-aos-delay='200')
				.catalog__title Автомобильные масла
				.catalog__text Моторные масла играют важную роль в двигателе, обеспечивая его работоспособность и защиту.
					|  Трансмиссионные масла обеспечивают стабильную работу таких важных элементов автомобиля, как коробка передач,
					|  раздаточная коробка или ведущие ходовые мосты
		.catalog__item.catalog__item--reverse
			.catalog__image(data-aos='fade-right', data-aos-duration='600', data-aos-easing='ease-in')
				img.image-2(src='images/catalog/2.png', srcset='images/catalog/2@2x.png 2x', alt='')
			.catalog__content(data-aos='fade-left', data-aos-duration='600', data-aos-easing='ease-in', data-aos-delay='200')
				.catalog__title Трансформаторные масла
				.catalog__text Предназначено для заливки силовых трансформаторов, реакторного оборудования,
					|  а также масляных выключателей с целью изоляции токонесущих частей оборудования, отвода тепла и для быстрого гашения
					|  электрической дуги в выключателях
		.catalog__item
			.catalog__image(data-aos='fade-left', data-aos-duration='600', data-aos-easing='ease-in')
				img(src='images/catalog/3.png', srcset='images/catalog/3@2x.png 2x', alt='')
			.catalog__content(data-aos='fade-right', data-aos-duration='600', data-aos-easing='ease-in', data-aos-delay='200')
				.catalog__title Технологические масла
				.catalog__text Технологические масла используются в процессах закалки, поглащения пыли, замасливания, смягчения резиновых
					|  смесей и многих других. Содержат эмульгирующие, противоизносные и др. присадки
		.catalog__item.catalog__item--reverse
			.catalog__image(data-aos='fade-right', data-aos-duration='600', data-aos-easing='ease-in')
				img(src='images/catalog/4.png', srcset='images/catalog/4@2x.png 2x', alt='')
			.catalog__content(data-aos='fade-left', data-aos-duration='600', data-aos-easing='ease-in', data-aos-delay='200')
				.catalog__title Индустриальные масла
				.catalog__text Смазочные материалы нефтяного происхождения, которые применяются для уменьшения сил трения между
					|  поверхностями взаимоперемещающихся деталей машин и механизмов, а также в качестве смазочно-охлаждающей жидкости
					|  при механической обработке металлов