section.first-screen
	.first-screen__slider.swiper
		.swiper-wrapper
			.first-screen__slide.swiper-slide
				.first-screen__bg
					img(src='images/slides/1.jpg', srcset='images/slides/1@2x.jpg 2x', alt='')
				.first-screen__text(data-aos='fade-up', data-aos-duration='500', data-aos-easing='ease-in') Моторное масло <span>Ziplix</span>
			.first-screen__slide.swiper-slide
				.first-screen__bg
					img(src='images/slides/2.jpg', alt='')
				.first-screen__text(data-aos='fade-up', data-aos-duration='500', data-aos-easing='ease-in') Моторное масло <span>Ziplix</span> 2
			.first-screen__slide.swiper-slide
				.first-screen__bg
					img(src='images/slides/3.jpg', alt='')
				.first-screen__text(data-aos='fade-up', data-aos-duration='500', data-aos-easing='ease-in') Моторное масло <span>Ziplix</span> 3
	.container.container--big.first-screen__container
		.first-screen__logo(data-aos='fade-up', data-aos-duration='500', data-aos-easing='ease-in', data-aos-delay='200')
			img(src='images/ziplix.png', srcset='images/ziplix@2x.png 2x', alt='')
		.first-screen__bottom
			.swiper-pagi
			.first-screen__navigation
				.swiper-prev
				.swiper-next