section.products
	.container.products__container
		+card('#', 'card--centered products__card products__card--first', '<span>Ziplix</span> автомобильное масло', '', '#F49624')(data-aos='fade-down', data-aos-duration='500', data-aos-easing='ease-in-out')
		+card('#', 'card--centered products__card', 'Ultra', 'url("./images/card/4.png")', '', 'linear-gradient(259.04deg, #010209 12.6%, #2F3440 100%)')(data-aos='fade-down', data-aos-duration='500', data-aos-easing='ease-in-out', data-aos-delay='300')
		+card('#', 'card--centered products__card', 'Diesel DPF', 'url("./images/card/5.png")', '', 'linear-gradient(259.04deg, #010209 12.6%, #2F3440 100%)')(data-aos='fade-down', data-aos-duration='500', data-aos-easing='ease-in-out', data-aos-delay='500')
		+card('#', 'card--centered products__card', 'H8', 'url("./images/card/6.png")', '', 'linear-gradient(259.04deg, #010209 12.6%, #2F3440 100%)')(data-aos='fade-down', data-aos-duration='500', data-aos-easing='ease-in-out', data-aos-delay='700')
		+card('#', 'card--centered products__card', 'H7', 'url("./images/card/7.png")', '#0E0E0E')(data-aos='fade-down', data-aos-duration='500', data-aos-easing='ease-in-out', data-aos-delay='900')
		+card('#', 'card--centered products__card', 'Extra 9000 ', 'url("./images/card/8.png")', '', 'linear-gradient(259.04deg, #010209 12.6%, #2F3440 100%)')(data-aos='fade-down', data-aos-duration='500', data-aos-easing='ease-in-out', data-aos-delay='1100')