header.header
	.container.container--big.d-none-mobile
		nav.header__nav
			ul.header__nav-inner
				li
					a(href='#', target='_blank') Бренд
				li
					a(href='#', target='_blank') Линейки масел
			li.header__logo
				a(href='/')
					+icon('logo')
			ul.header__nav-inner
				li
					a(href='#', target='_blank') Социальная ответственность
				li
					a(href='#', target='_blank') Карьера
	.container.header__container.d-none-desktop
		.header__nav
			div
			a(href='/')
				+icon('logo')
			.header__burger
				span
				span
				span
		.header__menu
			nav
				li
					a(href='#', target='_blank') Бренд
				li
					a(href='#', target='_blank') Линейки масел
				li
					a(href='#', target='_blank') Социальная ответственность
				li
					a(href='#', target='_blank') Карьера
			a.header__email(href='mailto:info@ziplix.co.kr') info@ziplix.co.kr
