extends ../layouts/default

block vars
	-
		const page = {
			title: 'Ziplix'
		};

block main
	include ../blocks/first-screen.pug
	include ../blocks/advantages.pug
	include ../blocks/catalog.pug
	include ../blocks/about.pug
	include ../blocks/products.pug