/* media */
$media-list: (
	'md': 767,
	'lg': 1279
);

/* шрифты */
$mainFont: 'Gotham', sans-serif;

/* цвета */
$textMainColor: #0e0e0e;
$black-0e: #0e0e0e;
$white: #ffffff;
$orange: #f49624;
$gray-a6: #a6a6a6;
$gray-89: #89898f;
